@import '../../../../styles/colors.scss';

header {
  display: flex;
  flex-direction: column;
  border-top: 1em solid $primaryDark;
  background-color: $primary;
  align-items: center;

  img {
    margin-top: 2rem;
  }

  h1 {
    color: $white;
    margin: 1rem 0 2rem;
  }
}
